*{ margin: 0; padding: 0;box-sizing: border-box;font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-seriff;font-size: medium;}
.carousel-inner img {
    width: 100%;
    height: 90vh;
  }

  .aboutp {
    font-size: larger;  font-family: Verdana, Geneva, Tahoma, sans-serif;
}